<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!--配置Dao层的类-->
	<bean id="productDao" class="com.bcm.ssh.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="employeeDao" class="com.bcm.ssh.dao.impl.EmployeeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="departmentDao" class="com.bcm.ssh.dao.impl.DepartmentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>